.image-upload label {
  background-color: #3172BB;
  border: 0 none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: 0 auto 60px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.image-upload input {
  display: none;
}

.image-upload__images {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-upload__image + .image-upload__image {
  border-top: 1px solid #CCC;
  margin-top: 20px;
  padding-top: 20px;
}

.image-upload__remove-image-button {
  background-color: #FC002F;
  border: 0 none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  padding: 6px 12px;
}
