.notes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notes-list__item {
  cursor: pointer;
  /* height: 34px; */
  font-size: 24px;
  padding: 12px 16px;
}

.notes-list__item {
  border-bottom: 1px solid #CCC;
}

.notes-list__item--selected,
.notes-list__item:hover {
  background: #EFEFEF;
}
