.notes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notes-list_item {
  cursor: pointer;
  /* height: 34px; */
  padding: 8px;
}

.notes-list_item + .notes-list_item {
  border-top: 1px solid #ccc;
}

.notes-list_item--selected,
.notes-list_item:hover {
  background: #efefef;
}
